<ul class="nav">
    <li class="nav-item img-logo">
        <img src="../../assets/snapsoft-logo.svg">
    </li>
    <li class="nav-item title">
        MEMORY GAME
    </li>
    <li class="nav-item" *ngIf="isPlay">
        <select class="form-control" id="selectPairNumber" [(ngModel)]="pairNumber" >
            <option *ngFor="let num of numbers" [value]="num">{{num}}</option>
        </select>
    </li>
    <li class="nav-item" *ngIf="isPlay">
        <button class="btn btn-sm btn-danger" (click)="startNewGame()">START NEW GAME</button>
    </li>
</ul>
