<ul class="nav">
    <li class="nav-item img-logo">
        <img src="../../assets/snapsoft-logo.svg">
    </li>
    <li class="nav-item">
        <p>MEMORY GAME</p>
    </li>
    <li class="nav-item">
        <select class="form-control" id="selectCardNumber" (change)="setPairNumbers($event.target.value)" >
            <option *ngFor="let num of numbers">{{num}}</option>
        </select>
    </li>
    <li class="nav-item">
        <button class="btn btn-danger" (click)="startNewGame()">START NEW GAME</button>
    </li>
</ul>
