<div class="container">
    <div class="row mt-3 mb-3">
        <div class="text-left">Current tries: {{tryNumber}}</div>
        <div class="restart-button">
            <button class="btn btn-outline-secondary" (click)="restartGame()">RESTART</button>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3" *ngFor="let card of cards; index as i">
            <div class="scene">
                <div class="memory-card" [style.pointer-events]="card.isFinded ? 'none': 'auto'"
                     (click)="flipCard(i)" [ngClass]="{'is-flipped': card.isFlipped, 'find': card.isFinded}">
                    <div class="card-face card-face-front"></div>
                    <div class="card-face card-face-back" [ngClass]="{'find': card.isFinded}">
                        <img [src]="'../../assets/cards/' + card.image" [alt]="card.image"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

