/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f2f2f2;
  background-image: url("assets/snapsoft-logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
